/.vs
/ClearScript/bin
/ClearScript/obj
/Grpc/bin
/Grpc/obj
/HtmlAgilityPack.Core/bin
/HtmlAgilityPack.Core/obj
/TTCore.WebPImage/bin
/TTCore.WebPImage/obj
/WebP/bin
/WebP/obj
/CURL/obj
/CURL/bin
/Redis/bin
/Redis/obj
/DinkToPdf/bin
/DinkToPdf/obj
/PDF2Image/bin
/PDF2Image/obj
/PDF2Image.FormPushUpload/bin
/PDF2Image.FormPushUpload/obj
/Driver/bin
/Driver/obj
/Hangfire/bin
/Hangfire/obj
/Grunt/obj
/Driver/.local-chromium
