body {
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.hide {
    display: none !important;
}

#app {
    padding-top: 75px;
}

#loading {
    z-index: 99999;
}

#header {
    z-index: 5;
    height: 75px;
}

#body {
    z-index: 0;
    cursor: pointer;
    position: relative;
    overflow: auto;
    height: calc(100vh - 75px);
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#menu {
    width: 220px;
    z-index: 10;
    top: 60px;
    right: 9px;
    outline: 1px solid #ccc;
    display: inline-block;
}

#search {
    z-index: 10;
    display: inline-block;
    height: 100%;
}

#login {
    width: 100%;
    z-index: 10;
    display: inline-block;
}

ul.ui-filter {
    padding: 0 3px 0 17px;
}

    ul.ui-filter li {
        display: inline-block;
        border: 1px solid #333;
        margin: 3px 1px;
        padding: 7px 7px 8px 4px;
        border-radius: 7px;
    }

        ul.ui-filter li i {
            color: #555;
        }

.list-group-item {
    background-color: #000 !important;
    color: #fff;
    border-color: #ccc;
}

    .list-group-item.active {
        background-color: #343a40 !important;
        border-color: #ccc;
    }

#body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    #body ul li {
        float: left;
        border: 1px solid #333;
        border-radius: 9px;
        margin: 5px;
        padding: 0 11px;
        cursor: pointer;
        display: flex;
        justify-content: center;
    }

        #body ul li i {
            color: #333;
            font-size: 2em;
            padding-right: 7px;
        }

        #body ul li span {
            line-height: 55px;
            font-size: 1.2em;
        }

#edit .ui-action {
    display: none;
}

#edit .line-selection .ui-action {
    display: inline-block;
}

#edit .mode-edit .line-selection {
    background-color: #ffc107;
}